<div>
    <h2>
        <span jhiTranslate="memberadminApp.contributionGroupMember.home.title">Contribution Group Members</span>
        <button class="btn btn-primary float-right jh-create-entity create-contribution-group-member" [routerLink]="['/', { outlets: { popup: ['contribution-group-member-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="memberadminApp.contributionGroupMember.home.createLabel">
            Create new Contribution Group Member
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'memberadminApp.contributionGroupMember.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contributionGroupMembers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="memberadminApp.contributionGroupMember.startDate">Start Date</span></th>
            <th><span jhiTranslate="memberadminApp.contributionGroupMember.endDate">End Date</span></th>
            <th><span jhiTranslate="memberadminApp.contributionGroupMember.group">Group</span></th>
            <th><span jhiTranslate="memberadminApp.contributionGroupMember.member">Member</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contributionGroupMember of contributionGroupMembers ;trackBy: trackId">
                <td><a [routerLink]="['../contribution-group-member', contributionGroupMember.id ]">{{contributionGroupMember.id}}</a></td>
                <td>{{contributionGroupMember.startDate | date:'mediumDate'}}</td>
                <td>{{contributionGroupMember.endDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="contributionGroupMember.groupId">
                        <a [routerLink]="['../contribution-group', contributionGroupMember.groupId  ]" >{{contributionGroupMember.groupName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contributionGroupMember.memberId">
                        <a [routerLink]="['../member', contributionGroupMember.memberId  ]" >{{contributionGroupMember.memberId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contribution-group-member', contributionGroupMember.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contribution-group-member/'+ contributionGroupMember.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contribution-group-member/'+ contributionGroupMember.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
