<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContributionGroupMemberLabel" jhiTranslate="memberadminApp.contributionGroupMember.home.createOrEditLabel">Create or edit a Contribution Group Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contributionGroupMember.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contributionGroupMember.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="memberadminApp.contributionGroupMember.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="contributionGroupMember.startDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="memberadminApp.contributionGroupMember.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="contributionGroupMember.endDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="memberadminApp.contributionGroupMember.group" for="field_group">Group</label>
            <select class="form-control" id="field_group" name="group" [(ngModel)]="contributionGroupMember.groupId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="contributionGroupOption.id" *ngFor="let contributionGroupOption of contributiongroups; trackBy: trackContributionGroupById">{{contributionGroupOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="memberadminApp.contributionGroupMember.member" for="field_member">Member</label>
            <select class="form-control" id="field_member" name="member" [(ngModel)]="contributionGroupMember.memberId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="memberOption.id" *ngFor="let memberOption of members; trackBy: trackMemberById">{{memberOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
